/* Stylesheet by Ana J. Wells, 2016 */
#map {
  height: 350px;
    width: 80%;
    display: inline-block;
}

#panel {
    width: 16%;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    line-height: 20px;
}

.range-slider {
    width: 50%;
}

#forward {
    float: right;
}

#reverse {
    float: left;
}
